@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  @font-face {
    font-family: "ArialRounded";
    src: url("./assets/Arial_Rounded_MT.ttf") format("truetype");
  }

  @font-face {
    font-family: "ArialRoundedBold";
    src: url("./assets/Arial-Rounded-MT-Bold.ttf") format("truetype");
  }
}

:root {
  --bg-color: #ba4949;
  --genral-width: 25rem;

  font-family: "ArialRounded", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  transition: background-color 0.5s ease-in-out;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
